* {
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    display: none;
}
.navbar .main-content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    justify-content: space-evenly;
}
.navbar {
    background-image: linear-gradient(450deg , #80a1d7 , #9397b9);
    /* border-radius: 20px; */
    height: 60px;
}
.navbar img {
    position: absolute;
}
@media  (max-width: 508.99px) {
    .navbar img {
        position: fixed;
        display: none;
    }
    
}
.navbar .main-content a {
    text-decoration: none;
    color: #f4f9ff;
}
.Aclass {
    background-image: url(../image/editor-code-headphones-programming.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.home-class {
    width: 100%;
    display: flex;
    height: 50rem;
    background-color: transparent; /*#7d76a2;*/
}
.home-class .left-home {
    width: 100%;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}
.home-class .left-home h1 {
    color: #fff; /*#8aaede */
    font-family: system-ui;
    font-size: 50px;
}
.home-class .left-home h4 {
    color: #fff;
    font-family: system-ui;
    font-size: 20px;
    position: relative;
    display: grid;
    top: -16rem;
}
.home-class .right-home {
    width: 100%;
}
.about-class {
    width: 100%;
    height: 582.5px;
    background-color: transparent;
    display: grid;
}

.about-class .lower-class {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0;
    background-color: #f4f9ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-class .lower-class .side-class {
    width: 100%;
    font-family: system-ui;
    
}
.about-class .lower-class .side-class h2 {
    font-size: 20px;
    color: rgb(38, 30, 154);
    text-align: center;
}
.about-class .lower-class .side-class h4 {
    font-weight: 400;
    font-style: normal;
    color: rgb(93, 107, 143);
    font-size: 17px;
    text-align: center;
}
.about-class .upper-class {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-class .upper-class .side-div {
    width: 313.333333333;
    height: 100%;
    background-color: #f3f7fc;
    z-index: 10000;
    display: grid;
    justify-content: center;
    aspect-ratio: 3/2;
}
.about-class .upper-class .side-div .logo {
    width: 200px;
    object-fit: contain;
    aspect-ratio: 3/2;
}
.about-class .upper-class .side-div h1 {
    font-size: 20px;
    color: rgb(38, 30, 154);
    text-align: center;
    font-weight: 500;
    font-style: normal;
    width: calc(100% - 47px);
}
.about-class .upper-class .side-div h4 {
    line-height: 22px;
    font-size: 13px;
    text-align: center;
    width: calc(100% - 48px);
    color: rgb(93, 107, 143);
}

.new-wall {
    background-image: url(//d9hhrg4mnvzow.cloudfront.net/templates.unbounce.com/o-saas/394fd70e-o-saas-video-background_11ik0u000000000000001o.jpg);
    height: 29rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    justify-content: center;
    line-height: 1px;
    aspect-ratio: 3/2;
    align-items: center;
    justify-items: center;
}
.new-wall h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 21px;
    color: rgb(93, 107, 143);
}
.new-wall h4 {
    line-height: 22px;
    font-size: 13px;
    text-align: center;
    width: calc(100% - 48px);
    color: rgb(93, 107, 143);
    align-content: space-evenly;
}

.mid-wall {
    height: 750px;
    width: 100%;
    background-color: #f3f7fc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid-wall .side-div {
    width: 100%;
    display: grid;
    justify-content: center;
}

.mid-wall .side-div h1 {
    font-size: 32px;
    color: rgb(38, 30, 154);
    font-weight: 700;
    font-style: normal;
    width: calc(100% - 315px);
}

/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */

.mid-wall .side-div h4 {
    font-weight: 400;
    font-style: normal;
    color: rgb(93, 107, 143);
    font-size: 16px;
}
.mid-wall .side-div .side-sec-div {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: space-between;
}
.mid-wall .side-div .side-child {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.mid-wall .side-div .side-child img{
    aspect-ratio: 4/2;
    object-fit: contain;
    width: 9rem;
}
.mid-wall .side-div .side-child .writing-class {
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
    /* justify-content: center; */
    text-align: initial;
}
.mid-wall .side-div .side-child .writing-class h1 {
    font-size: 22px;
    color: rgb(38, 30, 154);
    font-weight: 700;
    font-style: normal;
    width: 100%;
}
.mid-wall .side-div .side-child .writing-class h4 {
    font-size: 11px;
    color: rgb(93, 107, 143);
    font-weight: 700;
    font-style: normal;
    width: calc(100% - 29px);
    text-align: inherit;
}
#changing {
    height: 70%;
}

.secondlast-wall {
    background-image: url(//d9hhrg4mnvzow.cloudfront.net/templates.unbounce.com/o-saas/c7d5826f-o-saas-pricing-hero_1000000000000000000028.png);
    height: 29rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
}
.secondlast-wall .slw-child {
    width: 100%;
    height: 100%;
    display: flex;
    aspect-ratio: 3/2;
}
.secondlast-wall h1 {
    font-size: 32px;
    color: rgb(38, 30, 154);
    font-weight: 700;
    font-style: normal;
}
.secondlast-wall .slw-child img {
    aspect-ratio: 3/2;
    width: 45px;
    height: 45px;
}

.final-wall {
    height: 320px;
    width: 100%;
    background-color: #f3f7fc;
    display: grid;
}
.final-wall .uppersix {
    height: fit-content;
    width: 100%;
    display: grid;
}
.final-wall .lowerfive {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.final-wall .lowerfive .upperrank {
    width: 100%;
    height: fit-content;
    text-align: center;
    display: inline-grid;
}
.final-wall .lowerfive .upperrank .head {
    color:rgb(38, 30, 154);
    font-size: 19px;
    font-weight: 700;
    font-style: normal;
}

.mid-wall .side-div .side-child:hover {
    border: 1px solid black;
    background-image: linear-gradient(338deg, #dfbbef , rgb(162 156 247));
    border-radius: 12px;
    color: white;
}
#nv-child:hover {
    background-color: #f3f7fc;
    color: #80a1d7;
    border-radius: 10px;
    padding: 10px;
    padding-block: 10px;
    padding-left: 25px;
    padding-right: 25px;
}